<!DOCTYPE html>
<html>
  <head>
    <title>Daily Planet - New Article</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">

  </head>

  <body>
    <div class="container">
      <div class="breadcrumbs">
          <a href="/">Home</a>
          <span> | </span>
          <a href="/articles">All Articles</a>
          <span> | </span>
          <span>New Article</span>
      </div>
      <h1>Add a New Article</h1>

      <form method="post" action="/articles">
        <input type="text" name="article[title]" placeholder="Article Title"><br>
        <input type="text" name="article[author]" placeholder="Article Author"><br>
        <textarea name="article[text]" placeholder="Article text"></textarea><br>
        <button class="addNewButton">Save Article</button>
      </form>
    </div>

  </body>
</html>