<!DOCTYPE html>
<html>
  <head>
    <title>Daily News - About</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>

  <body>
    <div class="container">
      <form method="post" action="/books">
        <input type="text" name="article[title]" placeholder="Article Title"><br>
        <input type="text" name="article[author]" placeholder="Article Author"><br>
        <textarea name="book[description]" placeholder="Article text"></textarea><br>
        <button>Save Book</button>
      </form>
    </div>


  </body>
</html>