<!DOCTYPE html>
<html>
  <head>
    <title>Daily Planet - All Articles</title>
  </head>

  <body>
    <div class="breadcrumbs">
        <a href="/">Home</a>
        <span> | </span>
        <a href="/articles">All Articles</a>
        <span> | </span>
        <span><%= article.title %></span>
    </div>
    <h1>All Daily Planet Articles</h1>

      <div>  
        <h2><%= article.title %></h2>
        <p><%= article.author %></p>
        <p><%= article.text %></p>
      </div>

  </body>
</html>