<!DOCTYPE html>
<html>
  <head>
    <title>Daily Planet - About</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">

  </head>

  <body>
    <div class="container">


      <div class="breadcrumbs">
          <a href="/">Home</a>
          <span> | </span>
          <span>Contact</span>
      </div>

      <h1>Contact Us!</h1>

      <h3>Visit Our Office</h3>
      <p>Fifth Street and Concord Lane
        <br>Metropolis, USA
      </p>
      <p>555-555-5555</p>
      <p><a href="mailto:contact@dailyplanet.com">contact@dailyplanet.com</a></p>
    </div>
  </body>
</html>