<!DOCTYPE html>
<html>
  <head>
    <title>Daily Planet - About</title>
  </head>

  <body>
    <div class="container">


      <div class="breadcrumbs">
          <a href="/">Home</a>
          <span> | </span>
          <span>Contact</span>
      </div>

      <h1>Contact Us!</h1>

      <h3>Visit Our Office</h3>
      <p>Fifth Street and Concord Lane
        <br>Metropolis, USA
      </p>
    </div>
  </body>
</html>