<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title>Daily Planet - Homepage</title>
  </head>

  <body>
    <div class="container">
      <h1>Daily Planet</h1>
      <p>Hello world! Welcome to the Daily Planet!</p>

      <ul>
        <li><a href="/articles">All Articles</a></li>
        <li><a href="/articles/new">Add New Article</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>

    </div>
  </body>
</html>